{{- if .Params.mermaid -}}
{{- $mermaid := resources.Get "js/mermaid.min.js" | resources.Fingerprint -}}
<script src="{{ $mermaid.RelPermalink }}" integrity="{{ $mermaid.Data.Integrity }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Select all mermaid code blocks
        const mermaidBlocks = document.querySelectorAll('pre > code.language-mermaid');

        mermaidBlocks.forEach((block) => {
            const pre = block.parentNode;
            const container = document.createElement('div');
            container.classList.add('mermaid');
            container.textContent = block.textContent;
            pre.parentNode.replaceChild(container, pre);
        });

        mermaid.initialize({ startOnLoad: false });
        mermaid.init(undefined, ".mermaid");
    });
</script>
{{- end -}}